.login-container {
  background-color: lightblue;
  padding: 4vh;
  border-radius: 10px;
  width: 50vw;
}

a {
  cursor: pointer !important;
  text-decoration: underline !important;
  color: darkblue !important;
}
